<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392507969532-b5pdsarj0o9a2cjghnnk7u66ahlim3o1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392507969532-b5pdsarj0o9a2cjghnnk7u66ahlim3o1</string>
	<key>API_KEY</key>
	<string>AIzaSyAQ37AIt45XA2d6hXtiSSFjUEzDMqRaNKk</string>
	<key>GCM_SENDER_ID</key>
	<string>392507969532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omardajani.cal</string>
	<key>PROJECT_ID</key>
	<string>cal-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>cal-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392507969532:ios:bc0ad18e05432b266d2c79</string>
</dict>
</plist>